@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button, input,textarea, select {
    border: 1px solid #aeaeae; /* Example for specific elements */
}